#wrapper {
    background: /*repeating-*/
    linear-gradient(120deg, black, white);
    min-height: 1400px;
    min-width: 1400px;
}

h1 {
    background: -webkit-linear-gradient(white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}